# SPDX-License-Identifier: Apache-2.0 OR MIT
BasedOnStyle: Google
Language: Cpp
Standard: Latest
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
